.carousel {
	width: 100%;
	overflow-x:scroll;
    .carousel-item {
        width: 120px;
        margin: 10px;
        display: inline-block; 
        img {
            width: 100%;
        }
    }
}

