<section class="full-height">
    <div class="full-height" layout="row" layout-align="center center" ng-cloak>
        <div class="form-3" flex="40" md-whiteframe="2" layout="row" layout-padding>
            <form name="loginAuth" flex="100">
                <md-input-container class="md-block">
                    <label>Name</label>
                    <input required name="name" ng-model="register.username">
                    <div ng-messages="loginAuth.name.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Login As</label>
                    <md-select ng-model="register.loginAs" name="privilege" required>
                        <md-option ng-repeat="privilege in register.loginPrivileges" ng-value="privilege">
                            {{privilege}}
                        </md-option>
                    </md-select>
                    <div ng-messages="loginAuth.privilege.$error">
                        <p ng-message="required">Please select</p>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input required type="password" name="password" ng-model="register.password">
                    <div ng-messages="loginAuth.password.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <section layout="row" layout-sm="row" layout-align="end center" layout-wrap>
                    <md-button ng-click="register.resetDetails()">Reset</md-button>
                    <md-button class="md-raised md-primary" type="submit" ng-click="register.registerDetails(register.username,register.loginAs, register.password )">Create</md-button>
                </section>
                <p>Already have an account ? <a ui-sref="login">Sign In</a></p>
                <div ng-show='login.showErrMsg'>Please Enter Correct Credentials</div>
            </form>
        </div>
    </div>
</section>
