<section class="full-height">
    <div class="full-height" layout="row" layout-align="center center" ng-cloak>
        <div class="form-3" flex="40" md-whiteframe="2" layout="row" layout-padding>
            <form name="loginAuth" flex="100">
                <md-input-container class="md-block">
                    <label>Name</label>
                    <input required name="name" ng-model="login.username">
                    <div ng-messages="loginAuth.name.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Login As</label>
                    <md-select ng-model="login.loginAs" name="privilege" required>
                        <md-option ng-repeat="(index,privilege) in login.loginPrivileges" ng-value="privilege" ng-selected="index == 0">
                            {{privilege}}
                        </md-option>
                    </md-select>
                    <div ng-messages="loginAuth.privilege.$error">
                        <p ng-message="required">Please select</p>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input required type="password" name="password" ng-model="login.password">
                    <div ng-messages="loginAuth.password.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <section layout="row" layout-sm="row" layout-align="end center" layout-wrap>
                    <md-button ng-click="login.resetDetails()">Reset</md-button>
                    <md-button class="md-raised md-primary" type="submit" ng-click="login.authenticateDetails(login.username,login.loginAs, login.password )">Next</md-button>
                </section>
                <div class="">
                    <p>
                        Don't have an account? <a ui-sref="register">Sign Up</a>
                    </p>
                </div>
                <div ng-show='login.showErrMsg'>Please Enter Correct Credentials</div>
            </form>
        </div>
    </div>
</section>
