<div layout="column" class="full-height" ng-cloak>
    <section  layout="row" flex>
        <md-sidenav class="md-sidenav-left full-height" md-component-id="left"  md-whiteframe="4" md-is-locked-open="true" md-disable-backdrop="true">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Sidenav</h1>
            </md-toolbar>
            <md-content layout-padding>
           <p>user menu</p>
                <p  show-gt-md>
                    menu items
                </p>
            </md-content>
        </md-sidenav>

               <div class="content">
               	 user content goes here
               </div>
    </section>
</div>
