<div layout="column" class="full-height" ng-cloak>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left full-height" md-component-id="left" md-whiteframe="4" md-is-locked-open="true" md-disable-backdrop="true">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Sidenav</h1>
            </md-toolbar>
            <md-content layout-padding>
               <p>Home</p>
               <p>Discover</p>
               <p>My Books</p>
               <p>Issue Return</p>
            </md-content>
        </md-sidenav>
        <div class="content">
            <div class="carousel">
                <h3>Latest Releases</h3>
                <div class="carousel-item">
                    <p><img src="images/dummy_cover.jpg" alt=""></p>
                </div>
                <div class="carousel-item">
                    <p><img src="images/dummy_cover.jpg" alt=""></p>
                </div>
                <div class="carousel-item">
                    <p><img src="images/dummy_cover.jpg" alt=""></p>
                </div>
                <div class="carousel-item">
                    <p><img src="images/dummy_cover.jpg" alt=""></p>
                </div>
                <div class="carousel-item">
                    <p><img src="images/dummy_cover.jpg" alt=""></p>
                </div>
            </div>
            <div class="carousel">
                <h3>Best Selling</h3>
                <div class="carousel-item">
                    <p><img src="images/dummy_cover.jpg" alt=""></p>
                </div>
                <div class="carousel-item">
                    <p><img src="images/dummy_cover.jpg" alt=""></p>
                </div>
                <div class="carousel-item">
                    <p><img src="images/dummy_cover.jpg" alt=""></p>
                </div>
                <div class="carousel-item">
                    <p><img src="images/dummy_cover.jpg" alt=""></p>
                </div>
                <div class="carousel-item">
                    <p><img src="images/dummy_cover.jpg" alt=""></p>
                </div>
            </div>
        </div>
    </section>
</div>
